[submodule "account"]
	path = account
	url = https://github.com/etudes-inc/etudes-account.git
[submodule "activitymeter"]
	path = activitymeter
	url = https://github.com/etudes-inc/etudes-activitymeter.git
[submodule "admin"]
	path = admin
	url = https://github.com/etudes-inc/etudes-admin.git
[submodule "ambrosia"]
	path = ambrosia
	url = https://github.com/etudes-inc/etudes-ambrosia.git
[submodule "archives"]
	path = archives
	url = https://github.com/etudes-inc/etudes-archives.git
[submodule "cdp"]
	path = cdp
	url = https://github.com/etudes-inc/etudes-cdp.git
[submodule "changepw"]
	path = changepw
	url = https://github.com/etudes-inc/etudes-changepw.git
[submodule "ckconnect"]
	path = ckconnect
	url = https://github.com/etudes-inc/etudes-ckconnect.git
