[submodule "account"]
	path = account
	url = https://github.com/etudes-inc/etudes-account.git
[submodule "activitymeter"]
	path = activitymeter
	url = https://github.com/etudes-inc/etudes-activitymeter.git
[submodule "admin"]
	path = admin
	url = https://github.com/etudes-inc/etudes-admin.git
