## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/chat/chef_chat-Layout.vm,v 1.4 2005/05/25 17:42:01 gsilver.umich.edu Exp $
## chef_chat-Layout.vm, use with org.chefproject.ChatAction.java
##     context: $panel-monitor: String list panel url addition
##              $panel-control: String controls panel url addition
##              $panel-presence: String presence panel url addition
##              $panel: String name of panel parameter
##
#macro (sakai_chatcourier $chatroom)
#if ($courier)
<script type="text/javascript" language="JavaScript">
updateTime = ${courierTimeout}000;
updateUrl = "$courier|$chatroom";
scheduleUpdate();
</script>
#end
#end
<script type="text/javascript">
#set($count = 0)
	focus_path = [ #foreach($element in $focus_path)#if($count>0), #end"$element"#set($count = $count + 1)#end ];
</script>
<iframe
	name="$validator.escapeJavascript("$panel-toolbar")"
	id="$validator.escapeJavascript("$panel-toolbar")"
	title="$panel-toolbar"
	width="100%"
style="line-height:1.7em;height:5em;margin-top:-1px"
	frameborder="0"
	marginwidth="0"
	marginheight="0"
	scrolling="no"
	align="left"
	src="#contentCourierLink("$panel-toolbar")">
</iframe>
<div class="portletBody" style="clear:both">
        <h4  class="indnt1">
			 <img src = "/sakai-chat-tool/images/chat.png" border="0" alt="$tlang.getString('gen.chattag')"  title="$tlang.getString('gen.chattag')"/>
			 #if($!current_chat_channel.equalsIgnoreCase("main"))
			   $tlang.getString("lay.mainchat")
			 #else
			   $current_chat_channel
			 #end
		</h4>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
			<table>
			<tr>
			<td width="50%">
			<div id="chatListWrapper">
				<div  class="chatListHeadWrapper">
				#if($!channel.ChatHeader && $!channel.ChatHeader.Access == $groupAccess)
				    $tlang.getString("lay.groupnote")
				#else	                                     
					$tlang.getString("lay.note")
				#end	
				</div>
				<iframe
					name="$validator.escapeJavascript("$panel-monitor")"
					id="$validator.escapeJavascript("$panel-monitor")"
					title="$panel-monitor"
					width="100%"
					height="300"
					frameborder="0"
					marginwidth="0"
					marginheight="0"
					scrolling="auto"
					src="#chatlogLink("$panel-monitor")">
				</iframe>
			</div>	
			</td>
			<td width="20%">
			<div style="width: 100%;float: left;border-left: 1px dotted silver;">			
				<div class="chatListHeadWrapper">$tlang.getString("lay.user")</div>
				<iframe 
					name="$validator.escapeJavascript("$panel-presence")"
					id="$validator.escapeJavascript("$panel-presence")"
					title="$panel-presence"
					width="100%"
					height="300"
					frameborder="0"
					marginwidth="0"
					marginheight="0"
					scrolling="auto"
					align="left"
					src="#contentLink("$panel-presence")">
				</iframe>
			</div>	
			</td>
			<td width="30%">
			<div id="chatRoomWrapper">			
				<div class="chatListHeadWrapper">$tlang.getString("lay.rooms")</div>
			<iframe
					name="$validator.escapeJavascript("$panel-rooms")"
					id="$validator.escapeJavascript("$panel-rooms")"
					title="$panel-rooms"
					width="100%"
					height="300"
					frameborder="0"
					marginwidth="0"
					marginheight="0"
					scrolling="auto"
					align="left"
					src="#contentLink("$panel-rooms")">
				</iframe>
			</div>	
			</td>
			</tr>
			<tr>
			<td colspan="3">
			<iframe
					name="$validator.escapeJavascript("$panel-control")"
					id="$validator.escapeJavascript("$panel-control")"
					title="$panel-control"
					width="100%"
					height="120"
					frameborder="0"
					marginwidth="0"
					marginheight="0"
					scrolling="no"
					style="clear:both;display:block"
					src="#contentCourierLink("$panel-control")">
				</iframe>
			</td>
			</tr>
			</table>	
</div>
#sakai_chatcourier("$current_chat_channel")


