##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/sitesetup/chef_site-addParticipant.vm,v 1.2 2005/05/13 16:19:44 gsilver.umich.edu Exp $ -->
## Add a participant to ssite
<div class ="portletBody">
	<h3>
 		$tlang.getString("add.addpart") $validator.escapeHtml($title)...
	</h3>
	#if ($alertMessage)
		<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>
		<div class="clear"></div>
	#end
	##12/16/2008 For etudes customization 
	<p class="instruction"> 
		$tlang.getString("add.official.students") 
	</p>
	
	<form action="#toolForm("SiteAction")" method="post">
		<p class="checkbox">
			<input type="radio" id="choice_false" name="noEmailInIdAccountValue" value="false" 
				#if ($emailInIdAccountValue)	checked="checked"	#end
			onclick="document.getElementById('noEmail').style.display = 'none';document.getElementById('noEmailInIdAccount').value='';document.getElementById('withEmail').style.display = 'block';" />
			<label for="choice_false">
				$tlang.getString("add.choice1")
			</label>
		</p>
		<p class="checkbox">
			<input type="radio" id="choice" name="noEmailInIdAccountValue" value="true" 
				#if ($noEmailInIdAccountValue)	checked="checked"	#end
			onclick="document.getElementById('noEmail').style.display = 'block';document.getElementById('withEmail').style.display = 'none';document.getElementById('emailInIdAccount').value='';" />
			<label for="choice">
				$tlang.getString("add.choice2")
			</label>
		</p>
		#if($emailInIdAccountValue)
			<div id="withEmail" class="longtext" >
		#else
			<div id="withEmail" class="longtext" style="display:none;">
		#end 
			<label for="emailInIdAccount" class="block">
				$tlang.getString("add.label1")
			</label>
			<textarea  id="emailInIdAccount" name="emailInIdAccount"  cols="35" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!emailInIdAccountValue)</textarea>
			<br /><span class="instruction">
				$tlang.getString("add.multiple")
			</span>
		</div>
		
		#if($noEmailInIdAccountValue)
			<div id="noEmail" class="longtext" >
		#else
			<div id="noEmail" class="longtext" style="display:none;">
		#end 
			<label for="noEmailInIdAccount" class="block">
				$tlang.getString("add.label2")
			</label>
			<textarea id="noEmailInIdAccount" name="noEmailInIdAccount"  cols="35" rows="4" wrap="virtual">$!validator.escapeHtmlTextarea($!noEmailInIdAccountValue)</textarea>
			<br /><span class="instruction">
				$tlang.getString("add.multiple2")
			</span>
		</div>
		
		
		<h4>
			$tlang.getString("add.participants")
		</h4>
		<p class="checkbox">
			<input type="radio" id="same_role_true" name="same_role" value="true" 
				#if ($!form_same_role == "true")
					checked="checked"
				#end
			/>
			<label for="same_role_true">
				$tlang.getString("add.assign")
			</label>
		</p>
		<p class="checkbox">
			<input type="radio" id="same_role_false" name="same_role" value="false" 
				#if ($!form_same_role == "false")
					checked="checked"
				#end
			/>
			<label for="same_role_false">
				$tlang.getString("add.assign2")
			</label>
		</p>	
		<input type="hidden" name="back" value="$backIndex" />
		<input type="hidden" name="template-index" value="5" />
		<div class ="act">
			<input type="submit" accesskey="s" class="active" name="eventSubmit_doContinue" value="$tlang.getString('gen.continue')" />
			<input type="submit" accesskey="b" name="eventSubmit_doCancel" value="$tlang.getString('gen.back')" />
			<input type="submit" accesskey="x" name="eventSubmit_doCancel" value="$tlang.getString('gen.cancel')" />
		</div>
	</form>
</div>
