<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/announcement/chef_announcements-delete.vm,v 1.2 2005/05/15 04:54:19 gsilver.umich.edu Exp $ -->
<div class="portletBody">
<p class="shorttext">
	<img src="/sakai-announcement-tool/images/warning.gif" height="16" width="16" style="border:0" alt=""  />
		$tlang.getString("del.deleting")
</p>	
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div>#end
	<div class="alertMessage">$tlang.getString("del.areyou")</div>
	<form name="forNotLetDeleteSelectedOnLoad"></form>
		<table class="listHier lines nolines" cellspacing="0">
			<tr>
				<th>$tlang.getString("gen.subject")</th>
				<th>$tlang.getString("gen.from")</th>
				<th>$tlang.getString("gen.date")</th>
				<th>$tlang.getString("gen.visible")</th>
			</tr>
			#foreach ($delete_item in $delete_messages)
				<tr>
					<td>
						<h4>
						#if ($delete_item.Header.draft)
							<span class="highlight">$tlang.getString("gen.draft") - </span>
						#end
						$validator.escapeHtml($delete_item.Header.subject)
						</h4>
					</td>
					<td>$validator.escapeHtml($delete_item.Header.From.DisplayName)</td>
					<td>$delete_item.Header.Date.toStringLocalFull()</td>
					<td>
						#set($publicProperty = $delete_item.getProperties().getProperty("SAKAI:pubview"))
						#if ($!publicProperty && $publicProperty.equals("true"))
							$tlang.getString("gen.public")
						#elseif ($delete_item.getAnnouncementHeader().getAccess().equals($!channelAccess))
							$tlang.getString("range.allgroups")
						#else
							#set($count = 0)
							#set($allGroupString="")
							#foreach ($aGroupRef in $delete_item.getAnnouncementHeader().getGroups())
								#set($aGroup=$!site.getGroup($aGroupRef))
								#set($count=$count+1)
								#if ($count > 1)
									#set($allGroupString = $allGroupString.concat(", ").concat($aGroup.getTitle()))
								#else
									#set($allGroupString = $aGroup.getTitle())
								#end
							#end
							$allGroupString
						#end
					</td>
				</tr>
			#end
		</table>
	<form name="deleteTemplateForm" action="#toolForm("AnnouncementAction")" method="post">
		<p style="background: #EEEEEE;border: 0;margin: 5px 0 5px 0;line-height: 2em;padding-left: 1em;">
			<input type="submit" accesskey="l" class="active" name="eventSubmit_doDelete" 
			style="padding-left:2em;background: #eee url('/sakai-announcement-tool/images/delete.png') .2em no-repeat;"
			value="$tlang.getString("gen.delete2")" title="$tlang.getString("gen.delete2")[Accesskey + l]"/>
			
			<input type="submit" accesskey="x" 
			style="padding-left:2em;background: #eee url('/sakai-announcement-tool/images/cancel.gif') .2em no-repeat;"
			title="$tlang.getString("gen.cancel")[Accesskey + x]"
			value="$tlang.getString("gen.cancel")" name="eventSubmit_doCancel" />
		</p>
	</form>
</div>
